<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{customerBean.id}'/>
		<f:event type="preRenderView" listener='#{customerBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Create Customer"/>

	<ui:define name="header">
		Customer
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty customerBean.id}'>
				Edit existing Customer
			</c:when>
			<c:otherwise>
				Create a new Customer
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="create">
			<h:messages globalOnly="true" styleClass="error"/>

			<h:panelGrid columnClasses="label,component,required" columns="3">
				<h:outputLabel for="customerBeanCustomerFirstName" value="First Name:"/>
				<h:panelGroup>
					<h:inputText id="customerBeanCustomerFirstName" required="true" value="#{customerBean.customer.firstName}"/>
					<h:message for="customerBeanCustomerFirstName" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="customerBeanCustomerLastName" value="Last Name:"/>
				<h:panelGroup>
					<h:inputText id="customerBeanCustomerLastName" value="#{customerBean.customer.lastName}"/>
					<h:message for="customerBeanCustomerLastName" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
			</h:panelGrid>

			<div class="buttons">
				<h:commandLink value="Save" action='#{customerBean.update}' styleClass="btn btn-primary"/>
				<c:choose>
					<c:when test='#{!empty customerBean.id}'>
						<h:link value="Cancel" outcome="view" styleClass="btn btn-primary">
							<f:param name="id" value='#{customerBean.id}'/>
						</h:link>
						<h:commandLink value="Delete" action='#{customerBean.delete}' styleClass="btn btn-primary"/>
					</c:when>
					<c:otherwise>
						<h:link value="Cancel" outcome="search" styleClass="btn btn-primary"/>
					</c:otherwise>
				</c:choose>
			</div>
		</h:form>
	</ui:define>

</ui:composition>