<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{customerBean.id}'/>
		<f:event type="preRenderView" listener='#{customerBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="View Customer"/>

	<ui:define name="header">
		Customer
	</ui:define>

	<ui:define name="subheader">
		View existing Customer
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">
			<h:outputLabel for="customerBeanCustomerFirstName" value="First Name:"/>
			<h:outputText id="customerBeanCustomerFirstName" value="#{customerBean.customer.firstName}"/>
			<h:outputText/>
			<h:outputLabel for="customerBeanCustomerLastName" value="Last Name:"/>
			<h:outputText id="customerBeanCustomerLastName" value="#{customerBean.customer.lastName}"/>
			<h:outputText/>
		</h:panelGrid>

		<div class="buttons">
			<h:link value="View All" outcome="search" styleClass="btn btn-primary"/> 
			<h:link value="Edit" outcome="create" includeViewParams="true" styleClass="btn btn-primary"/>
			<h:link value="Create New" outcome="create" styleClass="btn btn-primary"/>
		</div>
	</ui:define>

</ui:composition>